@import '../settings/typography.scss';
@import '../helpers/_helpers.all.scss';

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;

  background-color: #080808;

}
