@import '../settings/gradients.scss';

.container {
  background-color: #151515;
  width: 25%;
  max-width: 500px;
  min-height: 100%;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.addLocationContainer {
  padding: 1rem;
  background-color: #0e0e0e;
}

.addLocationBtn {
  padding: 0.25rem 0.75rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  background-color: #333333;
  border-radius: 4px;
}

.addLocationInput {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: white;
  &:focus {
    outline: none;
  }
}

.titleBar {
  background-image: $default-gradient;
  color: white;
  padding: 1rem;
}
