/*
 * Position helpers
 */
.relative { position: relative; }
.static { position: static; }





/*
 * Display helpers
 */
.inline { display: inline; }
.inline-block { display: inline-block; }
.block { display: block; }





/*
 * Float helpers
 */
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }





/*
 * Rhythm helpers
 */

@for $i from 0 through 3 {
  .m#{$i} { margin: #{$i}rem; }
  .m#{$i}h { margin: $i + 0.5rem; }

  .mt#{$i} { margin-top: #{$i}rem; }
  .mt#{$i}h { margin-top: $i + 0.5rem; }

  .mr#{$i} { margin-right: #{$i}rem; }
  .mr#{$i}h { margin-right: $i + 0.5rem; }

  .mb#{$i} { margin-bottom: #{$i}rem; }
  .mb#{$i}h { margin-bottom: $i + 0.5rem; }

  .ml#{$i} { margin-left: #{$i}rem; }
  .ml#{$i}h { margin-left: $i + 0.5rem; }


  .p#{$i} { padding: #{$i}rem; }
  .p#{$i}h { padding: $i + 0.5rem; }

  .pt#{$i} { padding-top: #{$i}rem; }
  .pt#{$i}h { padding-top: $i + 0.5rem; }

  .pr#{$i} { padding-right: #{$i}rem; }
  .pr#{$i}h { padding-right: $i + 0.5rem; }

  .pb#{$i} { padding-bottom: #{$i}rem; }
  .pb#{$i}h { padding-bottom: $i + 0.5rem; }

  .pl#{$i} { padding-left: #{$i}rem; }
  .pl#{$i}h { padding-left: $i + 0.5rem; }

}

  .mla { margin-left: auto; }
  .mra { margin-right: auto; }
